<a href="http://www.cear.ufpb.br/pet" >
    <img src="../images/logo_pet.png" width="150px" align="right">
</a>

<h1 align="center" style="color:blue" >Biblioteca Pandas em Python</h1>

<hr width="50%" align="center">

<h2 align="left" style="color:blue" >
    Essa biblioteca é a porta de entrada para os estudos que envolvem a Ciência de Dados. 
</h2>


<h3 align="left" style="color:blue" >
 Permite ler, manipular, agregar e plotar os dados em poucos passos.   
</h3>
<hr align="left" width="200px">

<h3 align="left" style="color:blue" >
    A biblioteca fornece duas maneiras de estruturar os nossos dados:
<h3>
<hr align="left" width="200px">

> O __DataFrame__ que possui uma estrutura tabular de N-dimensões, se assemelha a uma tabela no excel, onde seus itens são endereçados segundo linhas e colunas.

> A __Series__ que é uma matriz unidimensional que contém uma sequencia de valores acompanhado de seus respectivos índices.

Vamos observar cada uma delas.

<h3 align="left" style="color:blue" >
    Importando bibliotecas
<h3>
<hr align="left" width="200px">

In [30]:
import pandas as pd
#Biblioteca suporte
import numpy as np

<h3 align="left" style="color:blue" >
   Criando series
<h3>
<hr align="left" width="200px">

In [31]:
labels = ["A","B","C","D"]
array = np.arange(4)*10
array

array([ 0, 10, 20, 30])

In [32]:
pd.Series(data =array, index = labels )

A     0
B    10
C    20
D    30
dtype: int32

In [33]:
lista = ["Minicurso","Python","Online","Pandas"]
pd.Series(data =lista, index = labels )

A    Minicurso
B       Python
C       Online
D       Pandas
dtype: object

__Caso não declarado o indice é gerado automaticamente seguindo a ordem crescente__

In [34]:
pd.Series(data = lista)

0    Minicurso
1       Python
2       Online
3       Pandas
dtype: object

In [35]:
d = {"A":"Amor","B":"Baixinho"}
pd.Series(data = d)

A        Amor
B    Baixinho
dtype: object

__Uma series pode conter diferentes ditos de elementos__

In [36]:
Serie = pd.Series({"City":'João Pessoa',"Pop": 800.323,"Seadside": True})
Serie2 = pd.Series({"City":'Sousa',"Seadside": False,"Pop": 69.723})
print(Serie)
print( )
print(Serie2)

City        João Pessoa
Pop             800.323
Seadside           True
dtype: object

City         Sousa
Seadside     False
Pop         69.723
dtype: object

__Duas series soman-se indice a indice, mesmo que estejam desordenados__

In [37]:
Serie + Serie2

City        João PessoaSousa
Pop                  870.046
Seadside                   1
dtype: object

In [38]:
itens1 = pd.Series(data = [2,3,6,4], index = ["Arroz","Feijão","Queijo","Tapioca"])
itens2 = pd.Series(data = [9,1,7,3], index = ["Queijo","Feijão","Tapioca","Pão"])
print(itens1)
print()
print(itens2)

Arroz      2
Feijão     3
Queijo     6
Tapioca    4
dtype: int64

Queijo     9
Feijão     1
Tapioca    7
Pão        3
dtype: int64

__Caso não encontrado o indice é retornado "nan"__

In [39]:
itens1+itens2

Arroz       NaN
Feijão      4.0
Pão         NaN
Queijo     15.0
Tapioca    11.0
dtype: float64

<h3 align="left" style="color:blue" >
   Criando Dataframes
<h3>
<hr align="left" width="200px">

In [40]:
df = pd.DataFrame(data = np.arange(1,25).reshape(6,4), index = 'P A N D A S'.split(), columns =['A','B','C','D'] )
df

    A   B   C   D
P   1   2   3   4
A   5   6   7   8
N   9  10  11  12
D  13  14  15  16
A  17  18  19  20
S  21  22  23  24

__Quando um dicionanrio é utilizado nesse caso as chaves tornam - se colunas__

In [41]:
Dict = { "X" :[0.1,3.2,4.5], "Y" :[2.4,5.6,2.2]}

In [42]:
df = pd.DataFrame(data = Dict, index = ["A","B","C"])
df

     X    Y
A  0.1  2.4
B  3.2  5.6
C  4.5  2.2

<h3 align="left" style="color:blue" >
   Ler dados tabulados externos
<h3>
<hr align="left" width="200px">

In [48]:
boletimCovid = pd.read_csv('./datasets/boletim_diario.csv')
boletimCovid

,data,casosAcumulados,casosNovos,descartados,recuperados,obitosAcumulados,obitosNovos,Letalidade
0,2021-01-22,181773,1309,229721,138676,3955,16,0.0218
1,2021-01-21,180464,1111,229281,138673,3939,13,0.0218
2,2021-01-20,179353,1272,228228,138664,3926,14,0.0219
3,2021-01-19,178081,238,228046,133894,3912,10,0.0220
4,2021-01-18,177843,225,227850,133463,3902,14,0.0219
...,...,...,...,...,...,...,...,...
308,2020-03-20,0,0,0,0,0,0,0.0000
309,2020-03-19,0,0,0,0,0,0,0.0000
310,2020-03-18,0,0,0,0,0,0,0.0000
311,2020-03-17,0,0,0,0,0,0,0.0000
312,2020-03-16,0,0,0,0,0,0,0.0000

In [52]:
boletimCovid.head(5)

,data,casosAcumulados,casosNovos,descartados,recuperados,obitosAcumulados,obitosNovos,Letalidade
0,2021-01-22,181773,1309,229721,138676,3955,16,0.0218
1,2021-01-21,180464,1111,229281,138673,3939,13,0.0218
2,2021-01-20,179353,1272,228228,138664,3926,14,0.0219
3,2021-01-19,178081,238,228046,133894,3912,10,0.0220
4,2021-01-18,177843,225,227850,133463,3902,14,0.0219

In [55]:
boletimCovid.tail(10)

,data,casosAcumulados,casosNovos,descartados,recuperados,obitosAcumulados,obitosNovos,Letalidade
303,2020-03-25,5,2,117,0,0,0,0.0
304,2020-03-24,3,1,100,0,0,0,0.0
305,2020-03-23,2,1,61,0,0,0,0.0
306,2020-03-22,1,0,40,0,0,0,0.0
307,2020-03-21,1,1,0,0,0,0,0.0
308,2020-03-20,0,0,0,0,0,0,0.0
309,2020-03-19,0,0,0,0,0,0,0.0
310,2020-03-18,0,0,0,0,0,0,0.0
311,2020-03-17,0,0,0,0,0,0,0.0
312,2020-03-16,0,0,0,0,0,0,0.0

In [56]:
boletimCovid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data              313 non-null    object
 1   casosAcumulados   313 non-null    int64
 2   casosNovos        313 non-null    int64
 3   descartados       313 non-null    int64
 4   recuperados       313 non-null    int64
 5   obitosAcumulados  313 non-null    int64
 6   obitosNovos       313 non-null    int64
 7   Letalidade        313 non-null    float64
dtypes: float64(1), int64(6), object(1)
memory usage: 19.7+ KB

In [57]:
boletimCovid.describe()

,casosAcumulados,casosNovos,descartados,recuperados,obitosAcumulados,obitosNovos,Letalidade
count,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000
mean,83940.022364,580.744409,108888.785942,59678.070288,1907.702875,12.635783,0.031785
std,60573.257636,500.482599,82722.447400,50526.573715,1359.833827,8.868064,0.027808
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14859.000000,162.000000,13270.000000,2920.000000,379.000000,7.000000,0.022100
50%,98494.000000,523.000000,119323.000000,60655.000000,2223.000000,11.000000,0.023000
75%,134297.000000,838.000000,187718.000000,110029.000000,3138.000000,18.000000,0.023400
max,181773.000000,3333.000000,229721.000000,138676.000000,3955.000000,46.000000,0.145500

<h3 align="left" style="color:blue" >
   Seccionando os dados
<h3>
<hr align="left" width="200px">

<div>
    <a href="https://www.ufpb.br/">
        <img src="../images/logo_ufpb.png" align="left" height="50px" width="70px">
    </a>
    <a href="http://www.cear.ufpb.br/">
        <img src="../images/logo_cear.png" align="left" width="95px">
    </a>
</div>

In [44]:
os.chdir('C:\\Users\\manu_\\OneDrive\\Documentos\\Faculdade\\Projetos_Faculdade\\PET\\intro_a_manipulacao_de_dados_com_python')

In [45]:
os.getcwd()

'C:\\Users\\manu_\\OneDrive\\Documentos\\Faculdade\\Projetos_Faculdade\\PET\\intro_a_manipulacao_de_dados_com_python'